<div class = "jumbotron">

	<center>
		<h1>Welcome to Papa Lee's Pizza</h1>

		<img src="https://s3.amazonaws.com/images1.vat19.com/gummy-pizza/gummy-pizza-slice-detail.jpg">
		<br>

		<%= link_to "Check out our Pizzas!", 
					pizzas_path, class: "btn btn-default" %>
				</center>
</div>